/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/clockwork
/storage/debugbar
/vendor
/.idea
/.vagrant
/docker/packaged
!/docker/packaged/.gitkeep
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
