@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

//Colors
$glasgow: #003865;
$success: #067C4D;
$primary: $glasgow;

//Navbar
$navbar-height: 3.25rem;
$navbar-background-color: $glasgow;
$navbar-item-color: white;
$navbar-dropdown-arrow: white;
$navbar-burger-color: white;
$navbar-item-hover-background-color: $glasgow;
$link-hover: #06667C;

//Notifications
$notification-radius: 0px;

// Import only what you need from Bulma
@import "~bulma";