// Variables
@import "variables";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


.navbar-dropdown .navbar-item {
  color: black;
}
#content-area {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
}
#content-main {
  flex: 1;
}

#success-box {
  position: fixed;
  right: 0px;
  z-index: 9;
}

.fadeout-success {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 4s, opacity 2s linear;
}

#infobox {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.fadeWidth-enter-active,
.fadeWidth-leave-active {
  transition: all 0.2s;
  max-width: 314px;
}
.fadeWidth-enter,
.fadeWidth-leave-to {
  transition: all 0.1s;
  opacity: 0;
  max-width: 0px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.cursor-pointer {
  cursor: pointer;
}

/* svg elements in chrome *must* have a w&h defined :-/ */
svg {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh !important;
  min-height: 100vh !important;
}

.bottom-header{
    vertical-align: bottom !important;
}

.rotate-header {
  text-align:center !important;
  border-top: 0;
  padding: 3px 0;
  height: 250px;
  max-width: 20px;
  vertical-align: bottom;
}

.rotate-header-text {
  white-space: nowrap;
  width:5px;
  display: inline-block;
  transform: rotate(-90deg);
  transform-origin: left;
}

[v-cloak] {
    display: none;
}
