
$body-background: whitesmoke;
@import './node_modules/bulma/bulma.sass';

// Fonts

// Variables
//@import "variables";

#infobox {
    position: fixed;
    bottom: 1em;
    right: 1em;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 9;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/* svg elements in chrome *must* have a w&h defined :-/ */
svg
{
  height:100%;
  width:100%;
}

body {
    height: 100vh !important;
    min-height: 100vh !important;
}

